.blog {
  @include adaptiveValue("padding-top", 120, 50);
  @include adaptiveValue("padding-bottom", 120, 60);
  &__container {
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(200), 1fr));
    @include adaptiveValue("gap", 60, 15);

    @media (max-width: em(660)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
  }

  &__button {
    width: 100%;
    @include adaptiveValue("margin-top", 60, 40);
  }

  &__subtitle {
    @include adaptiveValue("font-size", 35, 22);
    font-weight: 600;
    line-height: 120%; /* 42px */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 34, 20);
    }
  }
  &__text {
    @include adaptiveValue("font-size", 16, 14);
    line-height: 130%; /* 20.8px */
  }
}
.item-blog {
  position: relative;
  &__text {
  }

  &__image-ibg {
    display: block;
    @include adaptiveValue("border-radius", 45, 35);
    overflow: hidden;
    padding-bottom: percent(300, 255);
    transition: all 0.3s ease-out 0s;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15);
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    img {
      transition: all 0.3s ease 0s;
    }
  }

  &__title {
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 400;
    line-height: 145%; /* 23.2px */
    transition: all 0.3s ease-out 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #1e93d8;
      }
    }
  }

  &__date {
    position: absolute;
    @include adaptiveValue("top", 20, 15);
    @include adaptiveValue("right", 20, 15);

    color: rgba(255, 255, 255, 0.4);
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    pointer-events: none;
  }
}

//========================================================================================================================================================
//========================================================================================================================================================

.article-blog {
  @include adaptiveValue("padding-top", 60, 50);
  @include adaptiveValue("padding-bottom", 190, 60);
  &__container {
  }

  &__body {
    line-height: 150%;
    color: #000;

    p {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }

  &__date {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 40);
    }
  }

  a {
    text-decoration: underline;
  }

  h2 {
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: toRem(10);
      margin-top: toRem(30);
    }
  }

  ul {
    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
    P {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    li {
      line-height: 145%;
      &:not(p) {
        position: relative;
        @include adaptiveValue("padding-left", 25, 12);

        &::before {
          content: "";
          position: absolute;
          width: toRem(5);
          height: toRem(5);
          top: toRem(7);
          @include adaptiveValue("left", 13, 0);
          background-color: #2b2b2b;
          border-radius: 50%;
        }
      }
    }
  }
}
