// Заголовки, загальні БЕМ блоки та інше...

.social {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 20, 15);
  &__item {
    color: #ffffff;
    @include adaptiveValue("font-size", 50, 40);
    border-radius: 50%;

    transition: all 0.3s ease-out 0s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 40px;
      }
    }
  }
}

//========================================================================================================================================================

.title {
  @include adaptiveValue("font-size", 40, 28);
  font-weight: 600;
  line-height: 40px; /* 100% */
}

//========================================================================================================================================================

.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: toRem(15);
  &__title {
  }

  &__link {
    position: relative;
    color: #000;
    @include adaptiveValue("font-size", 24, 18);
    font-weight: 400;
    line-height: 120.8%; /* 29/24 */
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: toRem(1);
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease-out 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #1e93d8;
        &::before {
          background-color: #1e93d8;
        }
      }
    }
  }
}

//========================================================================================================================================================

.fancybox__container {
  max-width: none;
}

//========================================================================================================================================================

.play {
  &::before {
    content: "\e904";
    @extend %ic;
    color: #fff;
    @include adaptiveValue("font-size", 100, 60);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: all 0.3s ease-out 0s;
  }
}

//========================================================================================================================================================
