//====================================================================================================
.hero {
  position: relative;

  &__container {
  }

  &__body {
    @include adaptiveValue("padding-top", 268, 200);
    @include adaptiveValue("padding-bottom", 130, 100);
    color: #fff;

    @media (max-width: $tablet) {
      text-align: center;
      min-height: 100vh;
    }
  }

  &__title {
    font-family: "Playfair Display";
    @include adaptiveValue("font-size", 90, 35);
    font-weight: 700;
    line-height: 112.8%; /* 101.52px */
    letter-spacing: 1.8px;
    max-width: toRem(1159);

    &:not(:last-child) {
      margin-bottom: em(30, 90);
    }
  }

  &__text {
    font-size: toRem(16);
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    max-width: toRem(550);

    @media (max-width: $tablet) {
      margin: 0 auto;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 40);
    }
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 15, 30);

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: toRem(15);

    @media (max-width: $tablet) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__button {
    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  &__social {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

//====================================================================================================

.about-company {
  @include adaptiveValue("padding-top", 100, 40);
  @include adaptiveValue("padding-bottom", 95, 40);

  &__container {
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 60, 20, 0, 1230, 767);
    row-gap: toRem(30);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__image-ibg {
    height: fit-content;
    overflow: hidden;
    border-radius: toRem(45);
    padding-bottom: percent(501, 575);
  }

  &__content {
  }

  &__title {
    @include adaptiveValue("font-size", 35, 28);
    font-weight: 500;
    line-height: 120%; /* 42px */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 44, 20);
    }
  }

  &__text {
    font-size: toRem(16);
    font-weight: 400;
    line-height: 145%; /* 23.2px */

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }
}

//====================================================================================================

.links-course {
  @include adaptiveValue("padding-top", 95, 40);
  @include adaptiveValue("padding-bottom", 95, 40);

  &__container {
  }

  &__body {
  }

  &__items {
  }

  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 60, 20, 0, 1230, 767);
    row-gap: toRem(30);

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column-reverse;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 120, 40);
    }
  }

  &__content {
  }

  &__title {
    @include adaptiveValue("font-size", 40, 28);
    font-weight: 600;
    line-height: 40px; /* 100% */
    &:not(:last-child) {
      margin-bottom: em(20, 40);
    }

    a {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: toRem(2);
        bottom: toRem(-2);
        left: 0;
        background-color: #2b2b2b;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out 0s;
      }

      @media (any-hover: hover) {
        &:hover {
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  &__text {
    line-height: 145%; /* 23.2px */

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__link {
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__image-ibg {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: toRem(45);
    padding-bottom: percent(400, 575);

    img {
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

//====================================================================================================
//====================================================================================================
//====================================================================================================
